.log-canvas-background{
  border : 0;
  padding : 0;
  background : #ebebeb;
  cursor : default;
}

.log-canvas-background.log-canvas-move {
  cursor : move;
}

.log-canvas-sheet{
  background : #fff;
  border: 1px solid #d4d4d4;
}
