.logdx-sch-canvas-background{
  background : #ebebeb;
  border : 0;
  cursor : default;
}

.logdx-sch-canvas-background.logdx-sch-canvas-move {
  cursor : move;
}

.logdx-sch-canvas-sheet{
  background : #fff;
  border: 1px solid #d4d4d4;
}
